body {
    background-color: #F4F4F4;
    background-image: url("/static/image.jpg");
    background-size: cover;
}

.container{
    margin-top: 10px;
}

.top-menu{
    background-color:#373737;
    border-top-left-radius:20px;
    border-top-right-radius:20px;
    vertical-align: middle;
    font-family: Brush Script MT, Brush Script Std, cursive;
    box-shadow: 5px 5px 5px #000000;
}
.navbar-btn{
    margin: 14px;
    vertical-align: middle;
}

.site-label{
    color: rgb(255, 193, 7);
    vertical-align: middle;
}

.flash{
    color:  #EAB126;
    text-align: center;
}

.message{
    text-align: center;
}

.categories{
    background-color: #DCD0C0;
    border-bottom-left-radius: 20px;
    flex-basis: 32%;
    margin-right: 1%;
    opacity: 0.9;
    filter: alpha(opacity=90);
    box-shadow: 5px 5px 5px #373737;
}

.last-items{
    background-color: #DCD0C0;
    border-bottom-right-radius: 20px;
    flex-basis: 72%;
    opacity: 0.9;
    filter: alpha(opacity=90);
    color: #262228;
    box-shadow: 5px 5px 5px #373737;
}

.item-description,
.pub-item-description,
.items,
.edit-item,
.delete-item,
.login-box,
.signup-box,
.new-item{
    background-color: #DCD0C0;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    opacity: 0.9;
    filter: alpha(opacity=90);
    color: #262228;
    flex-basis: 100%;
    padding: 10px;
    box-shadow: 5px 5px 5px #373737;
}

.list-categories{
    opacity: 1.0;
    filter: alpha(opacity=100)
}

.item-image{
    border-radius: 20px;
    width: 100%;
    max-width: 200px;
    height: auto;
    box-shadow: 5px 5px 5px #373737;
}

.image-container{
    margin-top: 10px;
    text-align: center;
}

.lt-items{
    text-align: center;
}

.facebook{
    color: #000000;
}

.profile-image{
    border-radius: 20px;
    width: 100%;
    max-width: 40px;
    height: auto;
    margin: 11px;
}
