 {% extends "main.html" %}
 {% block content %}

<div class='row edit-item'>
    <div class='col-md-12'><h3>Edit Item</h3></div>
        <form action="{{ url_for('editItem', item_title=item.title) }}" method='post' enctype="multipart/form-data">
            <h5>Title</h5>
            <input type='text' size='30' name='title' value='{{item.title}}'>
            <h5>Description</h5>
            <textarea type='text' rows="8" cols='50' name='description'>{{item.description}}</textarea>
            <div class="form-group">
                <h5>Category</h5>
                <select class="form-conrol" name='category' default='categories' id="exemle">
                    <option>{{ category_selected.name }}</option>
                    {% for category in categories %}
                    <option name='category'>{{ category.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <h5>Choose a item picture:</h5>
                <input type="file" name="image" value="{{ item.image }}">
            </div><br><br>
            <input type='submit' value='Submit'>
        </form>
</div>
{% endblock %}
