{% extends "main.html" %}
{% block content %}

<div class="row signup-box">
    <form action="{{ url_for('signUp') }}" method='post' enctype="multipart/form-data">
    <h5>User Name</h5>
    <input type='text' size='30' name='username' placeholder='User Name...'><br><br>
    <h5>Email Adress</h5>
    <input type='text' size='30' name='email' placeholder='Email...'><br><br>
    <h5>Password</h5>
    <input type='password' size='30' name='password1' placeholder='Password...'><br><br>
    <h5>Repeat Password</h5>
    <input type='password' size='30' name='password2' placeholder='Retype Password...'><br><br>
    <h5>Profile Picture</h5>
    <input type='file' name='image'><br><br>
    <br>
    <input type='submit' value='Submit'>
</form>
</div>

{% endblock %}
